@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nexonLv1-Light.woff) format("woff") , 
    url(../../fonts/nexonLv1-Light.woff2) format("woff2");
}

@font-face {
    font-family: "nexonLv1";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nexonLv1-Regular.woff) format("woff") , 
    url(../../fonts/nexonLv1-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "nexonLv1";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nexonLv1-Bold.woff) format("woff") , 
    url(../../fonts/nexonLv1-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nanumSquareNeo-Light.woff) format("woff") , 
    url(../../fonts/nanumSquareNeo-Light.woff2) format("woff2");
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nanumSquareNeo-Regular.woff) format("woff") , 
    url(../../fonts/nanumSquareNeo-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nanumSquareNeo-Bold.woff) format("woff") , 
    url(../../fonts/nanumSquareNeo-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nanumSquareNeo-ExtraBold.woff) format("woff") , 
    url(../../fonts/nanumSquareNeo-ExtraBold.woff2) format("woff2");
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/nanumSquareNeo-Black.woff) format("woff") , 
    url(../../fonts/nanumSquareNeo-Black.woff2) format("woff2");
}
